<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
      <add name="conexaoSemBanco" connectionString="Server=.\SQLEXPRESS;Trusted_Connection=yes;"/>
      <add name="conexaoComBanco" connectionString="Server=.\SQLEXPRESS;Integrated Security=true;Database=BackgroundWorker"/>
      <add name="conexaoNova" connectionString="Server=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\BackgroundWorker_db.mdf;Integrated Security=true;Database=BackgroundWorker;Trusted_Connection=yes"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>

</configuration>