<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
      <add name="conexaoInicialDB" connectionString="Server=.\SQLEXPRESS;Integrated Security=true;database=master"/>
      <add name="conexaoDB" connectionString="Server=.\SQLEXPRESS;Integrated Security=true;Database=BackgroundWorker"/>
      <add name="newConexaoDB" connectionString="Server=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\BackgroundWorker_db.mdf;Integrated Security=true;Database=BackgroundWorker"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>

</configuration>